.title{
    font-weight: bolder;
    font-size: 72px;
    background: -webkit-radial-gradient(circle, rgba(190,48,52,1) 0%, rgba(175,134,100,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: moveRight;
    animation-duration: 0.7s;
}

.imgYo{
    animation-name: moveRight;
    animation-duration: 1s;
}

.titleTwo{
    font-weight: bolder;
    font-size: 72px;
    background: -webkit-radial-gradient(circle, rgba(190,48,52,1) 0%, rgba(175,134,100,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: moveLeft;
    animation-duration: 1s;
}

.btnP{
    transform: translateZ(0);
    animation-name: moveUp;
    animation-duration: 1s;
}

.btnP::before{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #EA6F2D;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 9999px;
    left: 0;
    transform: scaleX(0);
    transition: 300ms ease-out;
}

.btnP:hover:before{
    transform: scaleX(1);
}

@keyframes moveRight{
    0% {opacity: 0; transform: translateX(100px);}
    100% {opacity: 1; transform: translate(0);}
}

@keyframes moveLeft{
    0% {opacity: 0; transform: translateX(-150px);}
    100% {opacity: 1; transform: translate(0);}
}

@keyframes moveUp{
    0% {opacity: 0; transform: translateY(50px);}
    100% {opacity: 1; transform: translate(0);}
}

