.title,
.titleTwo{
    background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title,.text{
    animation-name: moveRight;
    animation-duration: 0.7s;
}

.cardAni{
    animation-name: moveUp;
    animation-duration: 1s;
}

.bg-card, .form-bg{
    background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.tierra,
.social{
    animation-name: moveRight;
    animation-duration: 1s;
}

.yo,
.titleTwo,
.form-bg{
    animation-name: moveLeft;
    animation-duration: 1s;
}

.btnP{
    transform: translateZ(0);
    animation-name: moveUp;
    animation-duration: 1s;
}

.btnP::before{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #b150a4;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 9999px;
    left: 0;
    transform: scaleX(0);
    transition: 300ms ease-out;
}

.btnP:hover:before{
    transform: scaleX(1);
}

.active,
.noActive:hover{
    color:#b150a4;
}

.noActive{
    color: white;
}

.ovni{
    transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes moveRight{
    0% {opacity: 0; transform: translateX(100px);}
    100% {opacity: 1; transform: translate(0);}
}

@keyframes moveLeft{
    0% {opacity: 0; transform: translateX(-150px);}
    100% {opacity: 1; transform: translate(0);}
}

@keyframes moveUp{
    0% {opacity: 0; transform: translateY(50px);}
    100% {opacity: 1; transform: translate(0);}
}

