@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap&subset=cyrillic');

body{
    font-family: 'Roboto Mono';
}

.Myterminal{
    width: 90vw;
	min-width: 280px;
	max-width: 530px;
	height: auto;
	border-radius: 4px;
	box-shadow: 0 2px 5px #111;
	transition: .2s;
	overflow: hidden;
}

.Myheader{
    display: flex;
	align-items: center;
	cursor: default;
	padding: 0 1em;
	height: 40px;
	color: #F4F4F4;
	background-color: #222345;
}

.btn{
    margin-right: 10px;
	border: none;
	height: 13px;
	width: 13px;
	border-radius: 50%;
	box-shadow: 0 2px 2px rgba(#333, .75);
}

.red{
    background-color: #FF4136;
}

.yellow{
    background-color: #FFDC00;
}

.green{
    background-color: #2ECC40;
}

.Myfield{
    padding: 1em;
	height: calc(100% - 40px);
	font-size: .85em;
	font-weight: normal;
	color: #F4F4F4;
	background-color: #222333;
}

.Myerror{
    color: #FF4136
}

.Myinfo{
    color: #FFDC00
}

pre{
    padding: 1em 0
}

code{
    font-size: 1.15em;
}